.container {
    margin: 0;
}

.header {
    flex-direction: column;
}

.header h1 {
    font-size: 2rem;
}

#icone-cronometro {
    font-size: 2.3rem;
}

.timer {
    font-size: 30px;
}

.time {
    margin-right: 2px;
    min-width: 85px;
    padding: 10px 0;
    border-radius: 5px;
}

.separator {
    padding: 0 5px;
}

#milliseconds {
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}